target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.settings/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Compiled files
**/target/
**/out/
**/build/

# Log files
*.log
logs/

# Application specific
#application-local.properties
#application-dev.properties
*.pid
*.lock

# Test reports
**/test-output/
**/surefire-reports/

# Docker
*.tar.gz
*.tar

# Environment
.env
.env.local

# Secret files
*.p12
*.jks
*.key
*.pem